body{
  background-color: rgb(112, 112, 112);
}

.App{

  text-align: center;
}
.game-button{
  padding: 0.9em;
  background-color: brown;
  border-radius: 0.8em;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: cornsilk;
}
.game-button:hover{
  transform: scale(1.1);
  transition: 200ms;
}
span{
  border: 0.1em solid white;
  font-size: 4em;
}

span:hover{
  transform: scale(1.1);
  transition: 200ms;
}
.game-container{
  border: white solid 0.2em;
  padding: 2em;
  width: 50%;
  margin: auto;

}

.player-icon{
  border: 0.08em  cornsilk solid;
  border-radius: 10%;
  padding: 0.8em;
  margin: 2em;
  background-color: rgb(177, 149, 154);
}
.player-fist{
  border: none;
  padding: 0.8em;
  margin: 2em;

}

.info-container{
  background-color: rgb(36, 35, 33);
  color: rgb(252, 252, 252);
  width: 25%;
  padding: 0.2em;
  border-radius: 0.5em;
  margin: auto;
  margin-bottom: .82em;
}

.game-area{
  border: 0.25em rgb(199, 180, 218) solid;
  background-color: rgb(118, 34, 121);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}